%div.marketing{:style=>"text-align:center;"}
  %h1 Web Service for everyone
  %p.marketing-byline A Web service is a method of communication between two electronic devices over the Web
  %div.row#menu_list
    %div.span4
      %img.bs-icon{:src=>'images/amazon.png'}
      %h2 Amazon API
      %p 
        Amazon Web Service : 
        %a{:href=>'http://aws.amazon.com/jp/', :target=>'_blank'}
          %span.label.label-info
            developer page
        %div.btn_container
          %a.btn{:href=>'/amazon', :link=>'amazon web service'} Keyword Search
    %div.span4
      %img.bs-icon{:src=>'images/youtube.png'}
      %h2 YouTube
      %p
        YouTube Developer : 
        %a{:href=>'https://developers.google.com/youtube/', :target=>'_blank'}
          %span.label.label-info
            developer page
        %div.btn_container
          %a.btn{:href=>'/youtube'} Keyword Search
    %div.span4
      %img.bs-icon{:src=>'images/google_plus.png'}
      %h2 Google Plus API
      %p 
        Google+ API
        %a{:href=>'https://developers.google.com/+/api/', :target=>'_blank'}
          %span.label.label-info
            developer page
        %div.btn_container
          %a.btn{:href=>'/', :link=>''} Google Chart
        %div.btn_container
          %a.btn{:href=>'/', :link=>''} Google Map
  %div.row#menu_list
    %div.span4
      %img.bs-icon{:src=>'images/facebook-logo.png'}
      %h2 Facebook API
      %p
        Facebook Developer : 
        %a{:href=>'https://developers.facebook.com/', :target=>'_blank'}
          %span.label.label-info
            developer page
    %div.span4
      %img.bs-icon{:src=>'images/twitter.png'}
      %h2 Twitter
      %p Twitter Developer